
div#display {
  font-size: 50px;
  /*text-align: center;*/
  font-family: century gothic;
  color: white;
}

div.container {
  /*position:absolute;*/
  /*top: 19em;*/
  /*margin:auto;*/
}

div.button{
  /*margin-top: 7em;*/
}
body {
  margin: 0;
  padding: 0;
  background-image: url("http://vignette4.wikia.nocookie.net/nintendo/images/1/13/Maxim_Tomato_%28KTD%29.png/revision/latest?cb=20160511001739&path-prefix=en"), url("http://img07.deviantart.net/a301/i/2013/062/b/d/kirby_thumbnail__background_by_smashtoons-d5ww14g.png");
  background-position: 50.6% 4em, 0em -2.2em;
  background-repeat: no-repeat;
  background-size: 22em, 100em 50em;
}

span.workCounter {
  /*margin-left: 0.2em;
  margin-right: 2em;*/
  font-family: Optima;
  font-size: 1.5em;

}
span.breakCounter {
  font-family: Optima;
  font-size: 1.5em;
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15em;
}

div.buttons{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
div button {
  width: 15em;
  height: 3em;
  border-radius: 5px;
  border-style: none;
  margin: 5px;
  font-size: 16px;
  border: solid black 1px;
}
div button:focus {
  outline-style: none;
}


div.counters{
  display: flex;
  flex-direction: column;
  margin: 2em;
}

div.btnscounter {
  display: flex;
  align-items: center;
  margin-top: 7em;
  background-color: red;
  padding: 1em;
  background: -webkit-radial-gradient(#C2ED4E, #DD2427);
  border-radius: 10px;
  border: solid black 3px;
}

button#start {
  background: #61D861;

}
button#stop {
  background: #DB352A;

}
button#reset {
  background: #EDD521;

}
button#start:active {
  background: #45A045;

}
button#stop:active {
  background: #AA251E;

}
button#reset:active {
  background: #B7A216;

}

span.workCounter {
  margin-bottom: 2em;

}
